body {
  background: rgb(32, 34, 49);
  background: radial-gradient(circle at center top, #202231, #161522) 0 0 /
    cover fixed;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

html, body, #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

b {
  font-weight: bold;
}

a {
  color: #7793f5;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #7793f5;
}

.tooltip {
  border: none;
}

.tooltip > .tooltip-inner {
  background-color: #181524;
}

.tooltip.bs-tooltip-left > .tooltip-arrow::before {
  border-left-color: #181524;
}

.tooltip.bs-tooltip-right > .tooltip-arrow::before {
  border-right-color: #181524;
}

.tooltip.bs-tooltip-top > .tooltip-arrow::before {
  border-top-color: #181524;
}

.tooltip.bs-tooltip-bottom > .tooltip-arrow::before {
  border-bottom-color: #181524;
}

::selection {
  background-color: #f194fc;
  color: #fff;
}
