body {
  background: #f1f0eb;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #805e49;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

b {
  font-weight: bold;
}

a {
  color: #805e49;
}

a:hover, a:focus {
  color: #c1584a;
}

.tooltip {
  border: none;
}

.tooltip > .tooltip-inner {
  background-color: #333;
}

.tooltip.bs-tooltip-left > .tooltip-arrow::before {
  border-left-color: #333;
}

.tooltip.bs-tooltip-right > .tooltip-arrow::before {
  border-right-color: #333;
}

.tooltip.bs-tooltip-top > .tooltip-arrow::before {
  border-top-color: #333;
}

.tooltip.bs-tooltip-bottom > .tooltip-arrow::before {
  border-bottom-color: #333;
}

::selection {
  background-color: #f194fc;
  color: #fff;
}
